.whoarewediv1 {
    width: 40%;
    padding: 40px;
}

.whoarewediv2 {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

.whoareweimg {
    border: solid;
    align-self: center;
    justify-content: start;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 20px;
}

.whoarewetitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

.whoarewepara {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}