body {
    margin: 0;
    background-color:#000000;
    overflow-x: hidden;
   
    
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color:  rgba(255, 253, 253, 0);
  
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(109, 109, 109, 0);
  opacity: .5;
}

/* Handle */
::-webkit-scrollbar-thumb { 
    background-color: #000000;
    opacity: .5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color:rgba(42,43,42,255);
  opacity: .5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}