@font-face {
  font-family: "ITCAvantGardeGothicStd";
  src: url("./Fonts/ITCAvantGardeGothicStdBook.otf");
}

@keyframes moving {
  0% {
    left: -15%;
  }

  100% {
    left: 95%;
  }
}

@media screen and (max-width: 1200px) {
  html, body {
    margin: 0px;
    background-color:#000000;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media screen and (max-width: 600px) {
  @keyframes moving {
    0% {
      left: 5%;
    }
  
    100% {
      left: 60%;
    }
  }
}

html, body {
  scroll-behavior: smooth;
}

body {
    margin: 0 20px;
    background-color:#000000;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

