@font-face {
  font-family: "ITCAvantGardeGothicStd";
  src: url("./Fonts/ITCAvantGardeGothicStdBook.otf");
}

@keyframes moving {
  0% {
    left: -15%;
  }

  100% {
    left: 95%;
  }
}

@media screen and (max-width: 1200px) {
  html, body {
    margin: 0;
    background-color:#000000;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: thin;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    display: block;
  }

  ::-webkit-scrollbar-track {
    background: #333333;
  }

  ::-webkit-scrollbar-thumb {
    background: #00b9cb;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1024px) {
  @keyframes moving {
    0% {
      left: 5%;
    }
  
    100% {
      left: 55%;
    }
  }
}

html, body {
  scroll-behavior: smooth;
}

body {
    margin: 0 20px;
    background-color:#000000;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
}

::-webkit-scrollbar {
  /* display: none; */
}

  ::-webkit-scrollbar {
    width: 2px;
    display: block;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #00b9cb;
    border-radius: 2px;
  }